In [5]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\funmi\\OneDrive\\Documents\\Code Institute\\vscode-projects\\insurance-claim-analysis\\jupyter_notebooks'

In [6]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

In [7]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\funmi\\OneDrive\\Documents\\Code Institute\\vscode-projects\\insurance-claim-analysis'

In [8]:
# Import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

print('All required python libraries have been imported')

All required python libraries have been imported

In [9]:

# Load your dataset
df = pd.read_csv("data/insurance_data_clean.csv")

In [10]:
display(df.head())

,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim,bmi_category
0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87,Normal weight
1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51,Obese
2,8,19.0,male,41.1,100,No,0,No,northwest,1146.80,Obese
3,9,20.0,male,43.0,86,No,0,No,northwest,1149.40,Obese
4,10,30.0,male,53.1,97,No,0,No,northwest,1163.46,Obese

In [11]:

# Drop unnecessary column
df = df.drop(columns=['PatientID'])

display(df.head())

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim,bmi_category
0,39.0,male,23.2,91,Yes,0,No,southeast,1121.87,Normal weight
1,24.0,male,30.1,87,No,0,No,southeast,1131.51,Obese
2,19.0,male,41.1,100,No,0,No,northwest,1146.80,Obese
3,20.0,male,43.0,86,No,0,No,northwest,1149.40,Obese
4,30.0,male,53.1,97,No,0,No,northwest,1163.46,Obese

In [14]:
# Binary encode yes/no and gender columns
df['smoker_binary'] = df['smoker'].map({'No': 0, 'Yes': 1})
df['diabetic_binary'] = df['diabetic'].map({'No': 0, 'Yes': 1})
df['gender_binary'] = df['gender'].map({'female': 0, 'male': 1})

display(df.head())

,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim,bmi_category,smoker_binary,diabetic_binary,gender_binary
0,39.0,male,23.2,91,Yes,0,No,southeast,1121.87,Normal weight,0,1,1
1,24.0,male,30.1,87,No,0,No,southeast,1131.51,Obese,0,0,1
2,19.0,male,41.1,100,No,0,No,northwest,1146.80,Obese,0,0,1
3,20.0,male,43.0,86,No,0,No,northwest,1149.40,Obese,0,0,1
4,30.0,male,53.1,97,No,0,No,northwest,1163.46,Obese,0,0,1

In [ ]:
# One-hot encode categorical columns: region and bmi_category
df = pd.get_dummies(df, columns=['region', 'bmi_category'], drop_first=True)

In [ ]:
# 6Ô∏è‚É£ Drop original categorical columns (optional, already encoded)
df_wta = df_wta.drop(columns=['smoker', 'diabetic', 'gender'])

In [ ]:
# 7Ô∏è‚É£ Define target and features
X = df_wta.drop(columns=['claim'])  # Features
y = df_wta['claim']                 # Target variable

In [ ]:
# 8Ô∏è‚É£ Split dataset into train and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
# 9Ô∏è‚É£ LINEAR REGRESSION
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)               # Train the model
y_pred_lr = lr_model.predict(X_test)        # Predict on test set

# Evaluate Linear Regression
print("Linear Regression Performance:")
print("R^2 score:", r2_score(y_test, y_pred_lr))
print("RMSE:", mean_squared_error(y_test, y_pred_lr, squared=False))
print("-"*40)

#  üîü RANDOM FOREST REGRESSOR
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)

# Evaluate Random Forest
print("Random Forest Performance:")
print("R^2 score:", r2_score(y_test, y_pred_rf))
print("RMSE:", mean_squared_error(y_test, y_pred_rf, squared=False))

# Optional: feature importance from random forest
import matplotlib.pyplot as plt

feature_importance = pd.Series(rf_model.feature_importances_, index=X.columns)
feature_importance.sort_values(ascending=False).plot(kind='bar', figsize=(10,5))
plt.title("Random Forest Feature Importance")
plt.show()